@page
@model FintechWebApp.Pages.FintechApp.AnalyseModel
@{
}
@*create a line break and a header for the page.*@

<html>
<head>
	<title>My Page</title>
</head>
<body style="background-color:lightblue; color:black">
    <br>
    <h2> Analysing the Bills</h2>

    @*Gets all the values from the Model.dictonary*@
    <form method="GET">
        <table>
            <tr>
                @*Displays mean from the dictonary *@
                <td>Mean : @Model.dictionary?["Mean"]</td>

            </tr>
            <tr>
                @*Displays Median from the dictonary *@
                <td>Median : @Model.dictionary?["Median"]</td>
            </tr>
            <tr>
                @*Displays Max from the dictonary *@
                <td>Most Amount was Spent on : @Model.dictionary?["Most Amount was Spent on "] </td>


            </tr>
            <tr>
                @*Displays Max from the dictonary *@
                <td>Amount : @Model.dictionary?["Amount "] </td>


            </tr>
            <tr>
                @*Displays Min from the dictonary .*@
                <td>Min Amount was Spent on : @Model.dictionary?["Least Amount was Spent on"]</td>


            </tr>
            <tr>
                @*Displays Min from the dictonary .*@
                <td>Min Amount was Spent on : @Model.dictionary?["Amount Spent "]</td>


            </tr>
        </table>
        <p></p>

    </form>
</body>
</html>



