@page
@model FintechWebApp.Pages.FintechApp.DeleteModel
@{
}


<!-- HTML page for Delete Fintech Account -->
<br>
<h2>Delete Account</h2>

@if (@Model.errorMessage.Length > 0)
{
	<div>@Model.errorMessage</div>
}


<!-- Display a form for deleting the account -->
<form method="POST">
	<input type="hidden" name="id" value="@Model.fintech.Id" />
	<!-- Store the account ID in a hidden input field -->
	<table>
		<tr>
			<td>Firstname</td>
			<td>@Model.fintech.Firstname</td>
		</tr>
		<tr>
			<td>Lastname</td>
			<td>@Model.fintech.Lastname</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>@Model.fintech.Address</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>@Model.fintech.Email</td>
		</tr>
		<tr>
			<td>Contact</td>
			<td>@Model.fintech.Contact</td>
		</tr>
		<tr>
			<td>Age</td>
			<td>@Model.fintech.Age</td>
		</tr>
		<tr>
			<td>SSN</td>
			<td>@Model.fintech.SSN</td>
		</tr>
		<tr>
			<td>Balance</td>
			<td>@Model.fintech.Balance</td>
		</tr>
	</table>
	<p></p>
	<!-- Display a button for submitting the form to delete the account -->
	@if (Model.successMessage.Length > 0)
	{
		<div name="successMessage">@Model.successMessage</div>
	}
	<input type="submit" value="Delete" class="btn btn-danger" />

	@if (Model.successMessage.Length > 0)
	{
		<div class="alert alert-success" role="alert">
			@Model.successMessage
		</div>
	}
</form>