@page
@model FintechWebApp.Pages.FintechApp.EditModel
@{
}
<!-- HTML page for Edit Fintech Account -->


<br>
<h2>Edit Account</h2>

@if (@Model.errorMessage.Length > 0)
{
	<div>@Model.errorMessage</div>
}

<form method="POST" onsubmit="handleSubmit(event)">
	<input type="hidden" name="id" value="@Model.fintech.Id" />
	<table>
		<tr>
			<td>Firstname</td>
			<td><input type="text" name="firstname" value="@Model.fintech.Firstname"></td>
		</tr>
		<tr>
			<td>Lastname</td>
			<td><input type="text" name="lastname" value="@Model.fintech.Lastname"></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><input type="text" name="address" value="@Model.fintech.Address"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="@Model.fintech.Email"></td>
		</tr>
		<tr>
			<td>Contact</td>
			<td><input type="text" name="contact" value="@Model.fintech.Contact"></td>
		</tr>
		<tr>
			<td>Age</td>
			<td><input type="text" name="age" value="@Model.fintech.Age"></td>
		</tr>
		<tr>
			<td>SSN</td>
			<td><input type="text" name="ssn" value="@Model.fintech.SSN"></td>
		</tr>
		<tr>
			<td>Balance</td>
			<td><input type="text" name="balance" value="@Model.fintech.Balance"></td>
		</tr>
	</table>
	<p></p>

	@if (@Model.successMessage.Length > 0)
	{
		<div>@Model.successMessage</div>
	}
	<!-- Display a button for submitting the form to edit the bill -->
	<input type="submit" value="Edit" class="btn btn-primary" />

	<script>
		function handleSubmit(event) {
			alert("The account has been updated successfully");
		}
	</script>
</form>
